# AWS/Security
*accessKeys.csv
settings.json
*.env
*.credentials

# Large Files / VM Snapshots
VM Build/
*.zip
*.7z
*.iso

# Logs and Temp
*.log
*.tmp
s3_logs/
Backup/
Documents/Logs/

# Word Docs / Manuals
*.docx

# Scratchpad / Setup Notes
Setup SQL Server POC.md
Initial Versions/

# OS files
.DS_Store
Thumbs.db
